body {
    font-family: 'Roboto', sans-serif;
    margin-top: 14px;
}
#color_bar {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: rgb(238, 238, 238);
    display: grid;
    grid-template-columns: 5fr 65fr 5fr 65fr 25fr 5fr 65fr 5fr 50fr 80fr 5fr 65fr;
    top:0px;
    left:0px;
    position:fixed;
    z-index: 10;
    /* border-bottom: 1px solid black; */
}
#color_bar div {
    height: 14px;
    border: none;
    
}
#pA {
    background-color: white;
}

#pC {
    background-color: rgb(255, 255, 255);
    border-right: solid !important;
    border-width: 1px !important;
    border-color: rgba(0, 0, 0, 0.2) !important;
}

#pL {
    background-color: white;
    border-left: solid !important;
    border-width: 1px !important;
    border-color: rgba(0, 0, 0, 0.2) !important;
}
.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip {
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(255, 255, 255, .5);
    color: none;
    text-align: center;
    position: absolute;
    z-index: 101;
    top: 0%; /* Position the tooltip below the container */
    left: 50%;
    transform: translateX(-50%); /* Center the tooltip horizontally */
    opacity: 0;
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.5s, visibility 0.5s, font-color 0s step-end; /* Transition for both properties */
    text-transform: capitalize;
    line-height: 14px;
    overflow: hidden;
    font-size: 12px;
}

.tooltip-container:hover .tooltip {
    color: black;
    opacity: 1; /* Visible */
    visibility: visible; /* Visible */
    transition: opacity 0.5s, visibility 0s step-start; /* Transition for both properties */
    overflow: hidden;
}

#arrow {
    left: 0%;
    top: 10px;
    position:fixed;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-bottom: 10px solid black;
    z-index: 102;
}

#fade-out {
    width: 100%;
    height: 5px;
    background: linear-gradient(rgba(255, 255, 255, 0.486), transparent);
    position: fixed;
    top:14px;
    z-index: 99;
    border: none;
    margin-left: none;
    left: 0%;
    visibility: hidden;
}